/*CSS by Will Baker (ppt4pq)*/

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.body-with-background {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.graph-text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.graph-title-text {
    text-align: left;
    font-size: 18px;
    color: rgb(100, 100, 100);
    font-weight: bold;
}

.graph-type-text {
    text-align: right;
    color: #926b36;
    font-size: 18px;
}

.graph-owner-text {
    color: #926b36;
    text-align: right;
    font-size: 14px;
}

.graph-info-text {
    color: rgb(100, 100, 100);
    text-align: left;
    font-size: 12px;
}

.transparent-text {
    color: transparent;
}

.warning-text {
    color: rgb(255, 0, 0);
}

#bg-graph {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    pointer-events: auto;
}